{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	    
	    <!-- Sidebar (Left) -->
	    <div class="col-md-3">
	        {% include 'accounts/dashboard_sidebar.html' %}
	    </div>

	    <!-- Main Content (Center) -->
		<main class="col-md-8">
			<article class="card mb-4 shadow-sm">
				<header class="card-header bg-primary text-white">
					<strong>Welcome, {{ user.full_name|default:user.username }} </strong>
				</header>
				<div class="card-body">
					<div class="row">

						<div class="col-md-6">
							<div class="card" style="text-align: center;">
								<div class="card-body">
									<h5 class="card-title">My Orders</h5>
									<h4>{{order_count}}</h4>
									<a href="">View Orders</a>

							</div>

						</div>

					</div>
					<div class="col-md-6">
							<div class="card" style="text-align: center;">
								<div class="card-body" >
									<img src="https://www.w3schools.com/howto/img_avatar.png"  alt="User Profile Picture" width="50" height="50" class="rounded-circle mb-3">
									<p class="mb-0">{{user.email}}</p>
									<p>{{user.phone_number}}</p>

							</div>

						</div>

					</div>
				</div>
			</article>
		</main>

		<!-- User Info (Right Column) -->
		

	</div>
</div>
</section>

{% endblock %}
